.header {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    background-color: rgb(255, 255, 255);
    font-size: 10vw;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
  }
  
  .header a {
    color: rgb(8, 0, 77);
    text-decoration: none;
  }
  
  .header a:hover {
    color: rgb(255, 25, 25);
  }
  
  @media all and (max-width: 600px) {
    .header {
      height: 60px;
    }
    
    .header a:hover {
      color:white;
    }
    .header a:active {
    color: rgb(255, 255, 25);
    }
  }
  
  @media all and (min-width: 1200px) {
    .header {
      font-size: 5.5vw;
    }
  }