.sidebar {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 30%;
  }
  
  .side-previews {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 25px;
    margin-top: 15px;
    overflow: auto;
    margin-bottom: 15px;
  }
  
  .side-previews a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    font-size: 20px;
    text-decoration: none;
    height: 35px;
    border: solid;
    border-width: 2px;
    width: calc(100% - 15px);
    border-bottom-width: 5px;
    background-color: rgba(0, 125, 197, 0.466);
    border-radius: 5px;
  }
  
  .side-previews a:hover {
    background-color: rgba(255, 187, 0, 0.733);
  }
  
  .side-previews a:focus {
    background-color: rgba(255, 187, 0, 0.863);
  }
  
  .side-previews a:nth-of-type(1) {
    border-top-width: 1px;
  }
  
  .sidebar {
    align-items: center;
  }
  
  #add-note, #add-folder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    text-decoration: none;
    padding: 5px 25px;
    border: solid rgba(49, 15, 241, 0.884);;
    border-width: 1px;
    border-radius: 5px;
    background-color: rgba(49, 15, 241, 0.753);
    color: white;
  }
  
  #add-note:hover, #add-folder:hover {
    background-color: rgba(49, 15, 241, 0.904);
  }
  
  @media all and (max-width: 600px) {
    .sidebar {
      width: calc(100% - 5px);
    }
  
    .side-previews {
      flex-direction: row;
      width: calc(100% - 10px);
      width: 100%;
      margin: 0;
      padding: 10px;
      min-height: 75px;
      max-height: 75px;
    }
  
    .side-previews a {
      min-width: 125px;
      height: 1em;
      border-width: 1px;
    }
  }